{% extends "base.html" %}
{% load static %}
{% block title %} Tentang Kami - AlumniNesaci {% endblock title %}
{% block headertype %} nav-border-bottom {% endblock headertype %}

{% block content %}
<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2>Tentang Kami</h2>
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Tentang Kami</li>
            </ol>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-90 padding-bottom-70">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="border-bottom-tab">
                <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab-1"  role="tab" class="waves-effect waves-dark" data-toggle="tab">About us</a></li>
                <li role="presentation"><a href="#tab-2" role="tab" class="waves-effect waves-dark" data-toggle="tab">What We Do</a></li>
                <li role="presentation"><a href="#tab-3" role="tab" class="waves-effect waves-dark" data-toggle="tab">Our Mission</a></li>
                <li role="presentation"><a href="#tab-4" role="tab" class="waves-effect waves-dark" data-toggle="tab">Setps</a></li>
                </ul>
                <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                        <img class="alignleft" src="{% static "img/working_man.png" %}" alt="">
                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.</p>
                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-2">
                        <img class="alignleft" src="{% static "img/busy_man.png" %}" alt="">
                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.</p>
                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-3">
                        <img class="alignleft" src="{% static "img/mission.png" %}" alt="">
                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.</p>
                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-4">
                        <img class="alignleft" src="{% static "img/business.png" %}" alt="">
                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient. Id ac dui libero a ullamcorper euismod himenaeos a nam condimentum a adipiscing dapibus lobortis iaculis morbi.</p>
                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor tempus a mi ad parturient ad nulla mus amet in penatibus nascetur at vulputate euismod a est tristique scelerisque. Aliquet facilisis nisl vel vestibulum dignissim gravida ullamcorper hac quisque ad at nisl egestas adipiscing vel blandit.</p>
                    </div>
                </div>
                </div>
            </div><!-- /.border-bottom-tab -->
        </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<hr>

<section class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumb-carousel circle-thumb text-center">
            <ul class="slides">
                <li data-thumb="{% static "img/client-thumb/1.png" %}">
                <div class="icon">
                    <img src="{% static "img/quote-dark.png" %}" alt="Customer Thumb">
                </div>
                <div class="content">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>
                    <div class="testimonial-meta brand-color">
                        Jhon Doe,
                        <span>User Interface Designer</span> 
                    </div>
                </div>
                </li>
                <li data-thumb="{% static "img/client-thumb/2.png" %}">
                <div class="icon">
                    <img src="{% static "img/quote-dark.png" %}" alt="Customer Thumb">
                </div>
                <div class="content">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>
                    <div class="testimonial-meta brand-color">
                        Tomas Hody,
                        <span>User Interface Designer</span> 
                    </div>
                </div>
                </li>
                <li data-thumb="{% static "img/client-thumb/3.png" %}">
                <div class="icon">
                    <img src="{% static "img/quote-dark.png" %}" alt="Customer Thumb">
                </div>
                <div class="content">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>
                    <div class="testimonial-meta brand-color">
                        Elita Chow,
                        <span>User Interface Designer</span> 
                    </div>
                </div>
                </li>
                <li data-thumb="{% static "img/client-thumb/4.png" %}">
                <div class="icon">
                    <img src="{% static "img/quote-dark.png" %}" alt="Customer Thumb">
                </div>
                <div class="content">
                    <p>Quam adipiscing vestibulum feugiat lacus leo a eget leo convallis sagittis nisi varius eros a imperdiet.Dui elementum ut a vestibulum eu fames hendrerit class conubia consequat curae.</p>
                    <div class="testimonial-meta brand-color">
                        Alex Kumar,
                        <span>User Interface Designer</span> 
                    </div>
                </div>
                </li>
            </ul>
            </div>
        </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endblock content %}
