{% extends "../base.html" %}

{% load static %}

{% block title %} Login / Register {% endblock title %}

{% block headertype %} nav-border-bottom {% endblock headertype %}

{% block content %}
<section class="section-padding gray-bg">
    <div class="container">
        <div class="login-wrapper">
          <div class="card-wrapper"></div>
          <div class="card-wrapper">
            <h1 class="title">Login</h1>
            <form>
              <div class="input-container">
                <input type="email" id="email" required="required" autocomplete="off" />
                <label for="email">Email</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="password" id="password" required="required" autocomplete="off" />
                <label for="password">Password</label>
                <div class="bar"></div>
              </div>
              <div class="button-container">
                <a href="#." class="btn btn-lg btn-block waves-effect waves-light">Login</a>
              </div>
              <div class="footer"><a href="#">Lupa password?</a></div>
            </form>
          </div>
          <div class="card-wrapper alt">
            <div class="toggle"></div>
            <h1 class="title">Register
              <div class="close"></div>
            </h1>
            <form>
              <div class="input-container">
                <input type="email" id="email" required="required" autocomplete="off" />
                <label for="email">email</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="password" id="newpassword" required="required" autocomplete="off" />
                <label for="newpassword">Password</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                <input type="password" id="repeat-password" required="required" autocomplete="off" />
                <label for="repeat-password">Ulangi Password</label>
                <div class="bar"></div>
              </div>
              <div class="button-container">
                <a href="#" class="btn btn-lg btn-block white waves-effect waves-red">Register</a>
              </div>
            </form>
          </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    $('.toggle').on('click', function() {
      $('.login-wrapper').stop().addClass('active');
    });

    $('.close').on('click', function() {
      $('.login-wrapper').stop().removeClass('active');
    });
</script>
{% endblock script %}
